html, body {
    height: 100%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #c0e5f0;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: teal;
}

h1, a, button {
    color: white;
}


main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

button {
    padding: 8px 10px;
    background-color: navy;
    border: none;
    border-radius: 5px;
    transition: color 1s linear 0.5s;
}

button:hover {
  color: red;
}

.blue-background {
    padding: 170px;
    background-color: #1892d9;
}

.results {
    display: none;
    background-color: #c0e5f0;
    color: black;
}

.input-label {

   margin-bottom: 40px;
}

input {
    padding: 5px 10px;
}

.main-title {
  margin-left: auto;
  margin-right: auto;
}
